.cardsContent .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  margin: 23px;
  padding: 25px;
}
.card img {
  background-color: hsl(260, 8%, 14%);
  border-radius: 100%;
  padding: 15px;
}
